 body{
    font-family: "PT Sans", sans-serif;
 }
 p{
     font-size: 12px;
 }
 h2{
    font-size: 19px;
    font-weight: bold;
}
  .main-nav{
    list-style: none;
    padding-left: 0;
    margin-left:0;
    margin-top: 0;
    background: white;
   } 
   .main-nav li{
    display: inline;
   }
   .main-nav a{
       position: relative;
       font-size: 14px;
       display: inline-block;
       color: black;
       text-align: center;
       text-decoration: none;
       width: 239px;
       max-height: 56px;
       font-weight: bold;
       padding: 17px 0;
       margin-right: -5px;
       vertical-align: top;
   }
   .logo{
       position: absolute;
       top:0;
       left: 50%;
       margin-left: -65px;
   }
   .background_photo{
       background: url(img/background_photo.png) no-repeat;
       width: 1199px;
       height: 760px;
       margin: 0 auto;
   }
   .polygon{
       margin-left: -1px; 
   }
   .welcome{
    margin-top: 78px;
    margin-left: 370px;
   }
   .introduce{
       margin-top: -22px;
       background: white;
       height: 216px;
       text-align: center;
       text-transform: uppercase;
   }
   .introduce h2{
     padding-top: 60px;
     padding-bottom: 20px;
   }
   .info{
    margin-top: 20px;
    text-align: center;
   }
   .info div{
       display: inline-block;
       vertical-align: top;
       margin: 0 auto;
       margin-left: -5px;
   }
   .one,
   .two,
   .three,
   .four,
   .five{
       padding-bottom: 15px;
       padding-top: 15px;
   }
  section div:first-child{
    padding-top: 20px;
    color: white;
    width: 380px;
    height: 236px;
    background-color: #81b3d2;
    text-align: center;
   }
   section div:nth-child(2){
    width: 800px;
    height: 256px;
    background: url(img/Layer_10.png) no-repeat;
   }
   section div:nth-child(3){
    text-align: center;
    padding-top: 46px;
    color: black;
    width: 400px;
    height: 250px;
    background-color: white;
    background: url(img/icon-1.svg) no-repeat 160px 60px;
   }
   section div:nth-child(3) h2,
   section div:nth-child(4) h2,
   section div:nth-child(5) h2{
    padding-top: 100px;
   }
   section div:nth-child(4){
    text-align: center;
    padding-top: 46px;
    color: black;
    width: 400px;
    height: 250px;
    background-color: white;
    background: url(img/icon-3.svg) no-repeat 160px 60px;
   }
   section div:nth-child(5){
    text-align: center;
    padding-top: 46px;
    color: black;
    width: 400px;
    height: 250px;
    background-color: white;
    background: url(img/icon-2.svg) no-repeat 160px 60px;
   }
   section div:nth-child(6){
    width: 800px;
    height: 256px;
    background: url(img/Layer_5.png) no-repeat;
   }
   section div:nth-child(7){
    padding-top: 30px;
    color: white;
    width: 380px;
    height: 226px;
    background-color: #81b3d2;
    text-align: center;
   }
   section div:nth-child(8){
    text-align: center;
    padding-top: 40px;
    color: black;
    width: 393px;
    height: 210px;
    background: #eeeeee;
    text-align: center;
   }
   section div:nth-child(9){
    text-align: center;
    padding-top: 40px;
    color: black;
    width: 393px;
    height: 210px;
    background: #eeeeee;
   }
   section div:last-child{
    color: black;
    width: 393px;
    height: 210px;
    background: #eeeeee;
    text-align: center;
    padding-top: 40px;
   }
 .inter{
    width: 1200px;
    height: 250px;
    text-align: center;
    background: white;
    margin: 0 auto;
 }
 .inter h2{
     padding-bottom: 10px;
     padding-top: 57px;
 }
 footer{
    width: 1200px;
    height: 120px;
    opacity: 0.9;  
    margin: 0 auto;
    padding-bottom: 10px;
    position: relative;
    background: url(img/logo-htmlacademy.svg) no-repeat 1000px 41px;
 }
  .hesh{
     padding-top: 51px;
     padding-left: 132px;
 }
 .devolep{
     font-size: 14px;
     text-align: right;
     margin-right: 210px;
     margin-top: -30px;
 }
 .social_media{
     position: absolute;
     top: 50%;
     left: 50%;
     margin-left: -70px;
     margin-top: -30px;
 }
 .social_media a{
     display: inline-block;
     width: 46px;
     height: 48px;
 }
 .icon_twitter{
   background:#81b3d2 url(img/twitter.svg) no-repeat center center;
 }
 .icon_facebook{
     background: #81b3d2 url(img/fb-icon.svg) no-repeat center center;
 }
 .icon_youtube{
     background: #81b3d2 url(ing/youtube.svg) no-repeat center center;
 }
   
